<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="/assets/img/favicon.ico">
<title>Admin Panel</title>
<!-- Bootstrap core CSS -->
 <link href="/assets/css/style.css" rel="stylesheet" />
  <link href="/assets/css/footer.css" rel="stylesheet" />
  <link href="/assets/css/navbar.css" rel="stylesheet" />
  <link href="/assets/css/team.css" rel="stylesheet" />
  <link href="/assets/css/work.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
<!-- Fonts -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="/assets/css/mediumish.css" rel="stylesheet">
<link href="/assets/css/style.css" rel="stylesheet">
</head>
<body>
<!-- End Nav
================================================== -->

<!-- Begin Site Title
================================================== -->
	
	 <section class="main-section team-section-header services-section ">
      <div class="home-section-overlay">
    
        <nav class="navbar-container">
          <div class="logo-container">
            <a class="navbar-brand" href="#">
              <img src="/assets/images/mainlogo.png"/></a>
          </div>
        
          <ul class="navbar-ul desktop-nav">
           
            <li class="navbar-item active">
            <a href="/#" class="navbar-link"  onclick='logoutHandler()'
			  >
			logout
				</a>
          </li>
          </ul>
        
        
        <div class="toggler inactive" id="toggler" onclick="menuClicked()">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        
          <ul class="navbar-ul mobile-nav hidemobilenav" id="mobileNav">
           
            <li>
             <a href="/#" class="navbar-link"  onclick='logoutHandler()'
			  >
			logout
				</a>
            </li>
          </ul>
        
        
        
        </nav>

        <div class="homepage-container">
          <div class="container">
            <div class="row align-item-center">
              <div class="col-lg-8">
              
                <h2 class="cta-heading">Best And Most Loved Works by
                  <br />
                  <span class="main-heading">Our Clients.</span>
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
	
	<br/>
   
    <hr/>
    
<div class='container'>
<p>
<div class='text-center'>
  <a class="btn btn-success text-center" 
  data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Add a New Blog
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
</svg>
  </a>
</div>
</p>
<div class="collapse" style="    
margin: auto; margin-bottom:32px" id="collapseExample" >
  <div class="card card-body text-center" >

		  <input required name='heading' id='heading' placeholder='Title' >  <br>
		  <input name='shortContent' id="shortContent" placeholder='Short Description of your blog' >  <br>
		 
			  <div >
			  <p>  Write Blog content here</p>
			  <input id="editor" name='content' style="width: 100%;"> 

			</div> <br>
		</form>
		<form action="/blog/uploadImage" method="post" enctype="multipart/form-data">
			<label> Upload A ThumbNail for Your Blog</label>
			<input type="file" required name="avatar" >
			<input type="text "   style="display:none" id='idField' name='id'>
			<button id='submitButton' class='cta-btn' style="display:none">submit</button>
		  </form>
		</div>
			<div class='text-center col-12'>
		<button onclick="myfunction()" class="btn btn-outline-success mt-2 rounded-pill">Submit</button>
			</div>
</div>





</div>
<section class="featured-posts" style="min-height: 100vh;">
	<div class="section-title text-center">
		<h2 class='work-card-heading f-60 '>Blogs</h2>
	</div>
    <div class="container">
        <div class="" >
            <div class="row">
            <!-- begin post -->
                <% blogs.map(element=>{ %>
                    <div class="col-lg-6 col-md-6 col-12" style="margin-bottom: 20px;">
                        <a href="blog/<%= element.blogId%>">
                            <div class="card">
                            <div class="row">
                                <div class="col-md-5 wrapthumbnail">
                                    <a href="blog/<%= element.blogId%>">
                                    <%console.log(element)%>
                                        <div class="thumbnail" style="background-image:url(<%=element.thumbImage%>); background-size: cover;width: 100%;height: 100%;background-repeat: no-repeat;background-position: center;min-height: 28vh;"></div>
                                    </a>
                                </div>
                                <div class="col-md-7">
                                    <div class="card-block" style="padding: 15px 10px; height:100%;display: flex;flex-direction:column;justify-content: space-between;">
                                        <h2 class="card-title"><a href="blog/<%= element.blogId%>"  style="font-size: 26px;"><%= element.heading%></a></h2>
                                        <!-- <h4 class="card-text">
                                        <%=element.shortContent%>
                                        </h4> -->
                                        <div class="metafooter">
                                            <div class="wrapfooter">
                                                <span class="meta-footer-thumb">
                                                <a href="/#">
                                                 </span>
                                                <span class="author-meta">
                                                <span class="post-name"><a href="author.html">
                                                sattvalabs</a></span><br/>
                                                <span class="post-date"><%=element.date%></span>
                                                <!-- <span class="dot"></span><span class="post-read"> 
                        
                                                <%=element.time%>
                                                </span> -->
                                                </span>
                                                <span class="post-read-more"><a href="blog/<%= element.blogId%>" title="Read Story"></a></span>
                                            </div>
                                            	<div>
										
											<button class=" btn btn-outline-success"
											onclick="editBlog('<%=element.blogId%>')"  data-target="#staticBackdrop">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
													<path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
												</svg>
											</button>
											<button class=" btn btn-outline-danger"
											onclick="deleteBlog('<%= element.blogId%>')">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
													<path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
												</svg>
											</button>
										</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </a>
                    </div>
                <%	})%>
            </div>
        </div>
    </div>
	</section>
 <footer class="footer" style='margin-top:20px'>
    <div class="container-fluid">
      <div class="row info-box">
      
        <div class="col-lg-3 col-md-6 col-12">
          <div class="counter-box">
            <span>20+</span>
            <p>Customers Served</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="counter-box">
            <span>20+</span>
            <p>UX Researches</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="counter-box">
            <span>20+</span>
            <p>Design Sprints</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="counter-box">
            <span>20+</span>
            <p>User Studies</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-7 col-md-9 col-12 connect">
          <span>We’d love to connect with you!</span><br/>
         
        </div>
        <div class="col-lg-5 col-md-9 col-12 connect">
          <a class="no-deco" href="./contact"><button class="custom-btn abouttextcard-button connect-cta">
            VIEW IN DETAIL
          </button></a>
        </div>
      </div>

      <div class="row myfooter">
        <div class="col-lg-3 col-md-4 col-12">
          <div style="display: flex; flex-direction: column;justify-content: center; height: 100%;">
            <span>We are always looking out for talent!</span>
            <a href="mailto:info@sattva-labs.com">info@sattva-labs.com</a>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-12">
          <h6 class="footer-heading" style="margin-bottom: 15px">Quick Links</h6>

          <p>
            <a href="./team">Team</a><br /><br />
            <a href="./Lab">Lab</a><br /><br />
            <a href="./careers">Careers</a><br /><br />
            <a href="./contact">Contact</a><br /><br />

          </p>
        </div>
        <div class="col-lg-2 col-md-4 col-12">
          <h6 class="footer-heading" style="margin-bottom: 15px">SAY HELLO @MUMBAI</h6>

          <p>
            Worksquare, Saki Naka<br /><br />
            Powai, Mumbai<br /><br />
            Maharashtra<br /><br />

            +91 98507 60989
          </p>
        </div>
        <div class="col-lg-2 col-md-4 col-12">
          <h6 class="footer-heading" style="margin-bottom: 15px">SAY HELLO @NASIK</h6>

          <p>
            1 Unique Heights<br /><br />
            Near Ambad Police Station,<br /><br />
            Ashwin Nagar CIDCO Nashik<br /><br />

            +91 98507 60989
          </p>
        </div>
        <div class="col-lg-3 col-md-4 col-12">

          <div id="lab_social_icon_footer">
            <div class="container">
              <div class="text-center center-block">
                <a href="https://www.facebook.com/sattvalabs/"><i style="color:#fff"
                    class="fa fa-facebook-square fa-3x social"></i></a>
                <a href="https://instagram.com/sattvalabs?igshid=oxt4le9x53vc"><i style="color:#fff" id="social-tw"
                    class="fa fa-instagram fa-3x social"></i></a>
                <a target="_blank" href="https://www.linkedin.com/company/sattvalabs"> <i style="color:#fff"
                    id="social-gp" class="fa fa-linkedin-square fa-3x social"></i></a>
                <a target="_blank" href="https://twitter.com/sattvalabs?s=11"><i style="color:#fff" id="social-em"
                    class="fa fa-twitter-square fa-3x social"></i></a>
              </div>
            </div>
          </div>



        </div>
      </div>

      <div style="background-color: #edf9fc;">
        <p style="text-align: center; margin:0;"><span style="color: #0798cd;"><strong>2021 Sattva-labs Innovation Pvt. Ltd</strong></span></p>
      </div>
    </div>
  </footer>
    <div class="go-top">
        <i class='bx bx-up-arrow-alt'></i>
    </div>






</div>
<script src="/assets/js/jquery.min.js"></script>
   <script src="https://cdn.ckeditor.com/ckeditor5/24.0.0/classic/ckeditor.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script>

	let editor,editor2;

ClassicEditor
    .create( document.querySelector( '#editor' ) )
    .then( newEditor => {
        editor = newEditor;
    } )
    .catch( error => {
        console.error( error );
	} );
async	function myfunction(){
		let content = editor.getData()
		let heading=document.getElementById('heading').value;
		//console.log(heading,thumbnail)
		let shortContent=document.getElementById('shortContent').value;
let reponseFromBlogPosting=	await fetch('/blog/postBlog', {
			headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },
    method: "POST",
    body: JSON.stringify({content: content, heading:heading,shortContent:shortContent})
  }).then(function(response) {
    return response.json();
  }).then(function(data) {
	console.log('done',data)
	return data;
  });
  document.getElementById('idField').value=reponseFromBlogPosting
  console.log(reponseFromBlogPosting, document.getElementById('idField'))

  await document.getElementById('submitButton').click()
 // window.location.reload()
	}
function logoutHandler(){
    localStorage.removeItem('token');
    window.location.reload()
}
if(!localStorage.getItem('token')){
	window.location.href='/'
//	console.log('hello')
}
function lendToUrl(url){
	let a=document.createElement('a')
	a.href='/blog/'+url
	a.click()
}
function editBlog(element){
	console.log('clicked')
let a=document.createElement('a')
a.href='/blog/EditBlogById/'+element+'/'+localStorage.getItem("token")
a.click()

}

function deleteBlog(id){
	console.log(id)
	window.location.reload();
	fetch('/blog/deleteBlog/'+id+"/" +localStorage.getItem('token'), {
			headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },
    method: "Delete",
}).then(function(response) {
    return response.json();
  }).then(function(data) {
    console.log('done')
  });
}
 function adminPanel(){
  let token=localStorage.getItem('token')
let a=document.createElement('a')

a.href='/adminPanel/'+token
a.click()
}
    </script>

<script>
  const currentLocation = location.href;
  console.log("Current location", location.href);

  const navbarLinks = document.querySelectorAll(".navbar-link");

  console.log(navbarLinks);

  for (let i = 0; i < navbarLinks.length; i++) {
    if (navbarLinks[i].href == currentLocation) {
      console.log(navbarLinks[i]);
      navbarLinks[i].className = "navbar-link  active";
    }
  }

  function menuClicked(){


let toggler = document.getElementById('toggler')
let navMenu = document.getElementById('mobileNav')

navMenu.classList.toggle('showmobilenav')
navMenu.classList.toggle('hidemobilenav')
toggler.classList.toggle('active')
toggler.classList.toggle('inactive')


}

window.addEventListener('scroll', function() { 
  let navbar = document.querySelector('.navbar-container') ;

  let currentPosition = window.scrollY ;

  if(currentPosition>100){
    navbar.classList.add('navbar-white')}
    else{
      navbar.classList.remove('navbar-white')
    }

})



</script>
</body>
</html>
